@use "global" as *;

.c-btn {
  color: $blue;
  font-size: rem(10.5);
  position: relative;
  font-weight: 700;
  width: rem(112.5);
}
.c-btn:before {
  position: absolute;
  content: "";
  width: rem(37.5);
  height: rem(37.5);
  background: url(../images/common/btn_box.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  right: -77%;
  transition: all 0.3s;
  z-index: 1;
}
.c-btn::after {
  position: absolute;
  content: "";
  width: 88px;
  height: rem(2);
  background: $blue;
  left: 0;
  bottom: rem(-5.5);
  transition: all 0.3s;
  z-index: 0;
}
.c-btn:hover::after {
  width: rem(75);
  left: rem(15);
}
.c-btn:hover::before {
  width: rem(37.5);
  height: rem(37.5);
  background: url(../images/common/btn_box_reverse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $blue;
}
