@use "global" as *;

.c-solution-title {
  font-weight: 700;
  color: $black;
  letter-spacing: 0.06em;
  position: relative;
  z-index: 1;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(30);
  }
}
.c-solution-title::before {
  content: attr(data-solution) "";
  position: absolute;
  font-family: $second-font-family;
  font-weight: 700;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  color: #f0f3f7;
  z-index: -1;
  font-size: rem(48);
  @include mq(md) {
    font-size: rem(138);
  }
}
.c-solution-title--white::before {
  color: $white;
}
.c-solution-title--long {
  position: relative;
}
.c-solution-title--long::before {
  position: absolute;
  font-size: calc(172 / 1920) * 100vw;
}
