@use "global" as *;

.c-section-title {
  color: $white;
  font-weight: 700;
  font-family: $second-font-family;
  line-height: 0.6;
  text-transform: uppercase;
  font-size: rem(44);
  @include mq(md) {
    font-size: rem(138);
    line-height: rem(94);
  }
}
