@use "global" as *;

.c-solution-subTitle {
  font-weight: 700;
  color: $black;
  letter-spacing: 0.06em;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(41);
  }
}
.c-solution-subTitle::before {
  content: attr(data-subtitle) "";
  color: $blue;
  font-size: rem(15);
  letter-spacing: 0.06em;
  font-weight: 700;
  display: block;
}
