@use "global" as *;

.c-year-title {
  background: $blue;
  color: $white;
  letter-spacing: 0.06em;
  font-weight: 700;
  display: inline-block;
  position: relative;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(30);
  }
}
.c-year-title::before {
  position: absolute;
  content: attr(data-year) "";
  color: $black;
  font-size: rem(16.5);
  font-weight: 700;
  letter-spacing: 0.06em;
  top: -75%;
  left: 0;
}
