@use "global" as *;

.l-header-inner {
  width: 100%;
  padding-left: rem(20);
  padding-right: rem(20);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(1800);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}
