@use "global" as *;

.p-always {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(100);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(313);
  }
}
.p-always::before {
  content: "";
  position: absolute;
  background: url(../images/common/scroll_center.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: rem(20);
  height: rem(95);
  @include mq(md) {
    width: rem(40);
    height: rem(191);
  }
}
.p-always__content {
}
.p-always__title-wrapper {
  text-align: center;
}
.p-always__text-wrapper {
  text-align: center;
  margin-top: rem(38);
}
