@use "global" as *;

.p-certification {
  padding-top: rem(40);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(120);
  }
}
.p-certification__content {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(75);
  }
}
.p-certification__lists {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(12);
  padding-right: rem(12);
  border: rem(12) solid #f0f3f7;
  @include mq(md) {
    display: flex;
    align-items: center;
    border: rem(20) solid #f0f3f7;
    padding-top: rem(16);
    padding-bottom: rem(16);
    padding-left: rem(24);
    padding-right: rem(24);
  }
}
.p-certification__detail {
}
.p-certification__title {
  color: $blue;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(18);
  }
}
.p-certification__text-wrapper {
  margin-top: rem(16);
}
.p-certification__text {
  font-size: rem(14);
  color: $black;
  letter-spacing: 0.06em;
  line-height: 1.8888;
}

.p-certification__logos {
  display: flex;
  align-items: center;
  gap: rem(16);
  @include mq(md) {
    gap: rem(24);
  }
}
