@use "global" as *;

.p-digital {
  padding-top: rem(64);
  position: relative;
  @include mq(md) {
    padding-top: rem(180);
  }
}
.p-digital::before {
  position: absolute;
  content: "";
  background: #f0f3f7;
  width: 75%;
  height: rem(890);
  top: 28%;
  right: 0;
  z-index: -1;
  @include mq(md){

  }
}
.p-digital__title {
  text-align: center;
}
.p-digital__contents {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(128);
  }
}
.p-digital__content {
  @include mq(md) {
    display: flex;
  }
}
.p-digital__content:nth-child(2n) {
  margin-top: rem(70);
  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.p-digital__img {
  max-width: rem(900);
  width: 100%;
  position: relative;
}
.p-digital__img::before {
  padding-top: 72.2%;
  display: block;
  content: "";
}
.p-digital__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-digital__detail {
  margin-top: rem(24);
  width: 100%;
  @include mq(md) {
    max-width: rem(450);
    margin-top: rem(32);
    margin-left: rem(56);
  }
}
.p-digital__content:nth-child(2n) > .p-digital__detail {
  margin-left: initial;
  margin-right: rem(75);
}
.p-digital__text {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-digital__under {
  @include mq(md) {
    margin-top: rem(56);
  }
}
.p-digital__sub {
  margin-top: rem(16);
  display: flex;
}
.p-digital__row {
  margin-top: rem(16);
}
.p-digital__small + .p-digital__small {
  margin-left: rem(12);
}