@use "global" as *;

.p-drawer-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  display: block;
  background: $white; //背景の色
  transition: 0.3s;
  width: rem(70);
  height: rem(70);
  @include mq(md) {
    display: none;
  }
}
.p-drawer-icon.is-active {
  background: transparent;
  .p-drawer-icon__bar1 {
    transform: rotate(-45deg);
    top: rem(16);
    left: -10%;

    background: $white;
  }
  .p-drawer-icon__bar2 {
    display: none;
  }
  .p-drawer-icon__bar3 {
    right: rem(20);
    transform: rotate(45deg);
    top: rem(16);
    left: -10%;
    background: $white;
  }
  .p-drawer-icon__bars {
  }
}
.p-drawer-icon__bars {
  width: rem(36);
  height: rem(20);
  display: inline-block;
  position: relative;
}
.p-drawer-icon__bar1,
.p-drawer-icon__bar2,
.p-drawer-icon__bar3 {
  position: absolute;
  width: rem(36);
  height: rem(2);
  background: $black;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
.p-drawer-icon__bar1 {
  top: 0;
}
.p-drawer-icon__bar2 {
  top: rem(9);
}
.p-drawer-icon__bar3 {
  top: rem(18);
}
.p-drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: $black;
  z-index: 10000;
  transform: translateX(105%);
  padding-top: rem(8);
  transition: 0.3s;
}
.p-drawer-content.is-active {
  transform: translateX(0%);
}
.p-drawer-content__items-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: rem(12);
  gap: rem(16);
  margin-top: rem(32);
}
.p-drawer-content__items {
  text-align: left;
}
.p-drawer-content__item {
  line-height: 2;
}
.p-drawer-content__text {
  color: #76778d;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(12);
}
.p-drawer-content__item a {
  display: block;
  padding: rem(8);
  text-transform: capitalize;
  color: $white;
  font-size: rem(14);
}
.p-drawer-content__item img {
  width: rem(434);
  margin-left: auto;
  margin-right: auto;
}
.p-drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: 9999;
  display: none;
}
.p-drawer-background.is-active {
  display: block;
}
