@use "global" as *;

.p-environment {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(142.5);
    padding-bottom: rem(147);
  }
}
.p-environment__content {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-environment__block + .p-environment__block {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(60);
  }
}
.p-environment__title-wrapper {
  background: #eef1f6;
  padding-top: rem(13.5);
  padding-bottom: rem(13.5);
  padding-left: rem(15);
  padding-right: rem(15);
}
.p-environment__title {
  color: $blue;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(18);
}
.p-environment__detail {
  margin-top: rem(22.5);
}
.p-environment__text {
  font-size: rem(12);
  color: $black;
  letter-spacing: 0.06em;
  line-height: 2;
}
.p-environment__text--space {
  padding-left: rem(12);
  position: relative;
}
.p-environment__text--space::before {
  content: "";
  position: absolute;
  background: url(../images/common/environment_check.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(9.75);
  height: rem(7.5);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.p-environment__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: rem(38);
  gap: rem(24);
  @include mq(md) {
    gap: rem(56.1);
  }
}
.p-environment__card {
}
.p-environment__card-titleWrapper {
  border-bottom: 1px solid #76778d;
  padding-bottom: rem(9.3);
}
.p-environment__card-title {
  font-size: rem(15);
  color: #76778d;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.p-environment__card-titleWrapper {
}
.p-environment__description-wrapper {
  margin-top: rem(15.3);
}
.p-environment__row {
  margin-top: rem(22.5);
  @include mq(md) {
    display: flex;
  }
}
.p-environment__row-detail {
  max-width: rem(540);
  width: 100%;
}
.p-environment__img {
  max-width: rem(360);
  width: 100%;
  position: relative;
  margin-top: rem(16);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-left: rem(22.5);
    margin-right: initial;
  }
}
.p-environment__img::before {
  padding-top: 54.166%;
  display: block;
  content: "";
}
.p-environment__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
