@use "global" as *;

.p-future-mv {
  height: 100vh;
  position: relative;
  background: url(../images/common/mv_future.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: rem(73);
}
.p-future-mv img {
  max-width: rem(571);
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

