@use "global" as *;

.p-future-mv {
  height: rem(360);
  position: relative;
  background: url(../images/common/mv_future.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: rem(73);
}

