@use "global" as *;

.p-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: rem(73);
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.p-header__content {
  display: flex;
  align-items: center;
  height: rem(73);
  line-height: rem(73);
}
.p-header__logo {
  display: inline-block;
  width: rem(150);
  @include mq(md) {
    width: rem(285);
  }
}
.p-header__home {
  display: flex;
  align-items: center;
}
.p-header__home img {
  width: rem(140);
}
.p-header__logo-text {
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: 700;
  color: #76778d;
  margin-left: rem(14);
  text-transform: uppercase;
}
.p-header__nav {
  display: none;
  @include mq(md) {
    margin-left: auto;
    height: inherit;
    display: block;
  }
}
.p-header__lists {
  display: flex;
  height: inherit;
  align-items: center;
}
.p-header__list {
  height: inherit;
  position: relative;
  font-size: rem(15);
  letter-spacing: 0.06em;
  color: #76778d;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.p-header__list::before {
  width: 0%;
  position: absolute;
  content: "";
  height: rem(2);
  bottom: rem(16);
  background: $blue;
  transition: 0.3s;
}
.p-header__list:hover::before {
  width: 100%;
}
.p-header__list + .p-header__list {
  margin-left: rem(48);
}
.p-header__link {
  font-size: rem(15);
  letter-spacing: 0.06em;
  color: #76778d;
  font-weight: 700;
  height: inherit;
  display: block;
  transition: all 0.3s;
  position: relative;
}
.p-header__menus {
  position: absolute;
  display: none;
  transition: all 0.3s;
  background: $white;
  text-align: center;
}
.p-header__list:hover .p-header__menus {
  display: block;
  top: rem(64);
  left: rem(-160);
  width: rem(300);
  transition: all 0.3s;
}
.p-header__menuLink {
  display: block;
  transition: 0.3s;
}
.p-header__menuLink:hover {
  color: $white;
  background: $blue;
}
