@use "global" as *;

.p-introduce-btn {
  background: $white;
  padding-top: rem(28);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(150);
    padding-bottom: rem(214.5);
  }
}
.p-introduce-btn__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: rem(438);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    justify-content: space-between;
  }
}
.p-introduce-btn__link {
  color: $blue;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: inline-block;
  position: relative;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(30);
  }
}
.p-introduce-btn__link::before {
  content: "";
  position: absolute;
  width: rem(6);
  height: rem(58.1);
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/common/introduce_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  bottom: -200%;
  @include mq(md) {
    bottom: -150%;
  }
}
.p-introduce-btn__link:hover::before {
  bottom: -180%;
}
