@use "global" as *;

.p-interview {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: rem(22.5);
  grid-template-columns: 1fr 1fr;
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(142);
    padding-bottom: rem(142);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-interview__list {
  position: relative;
  overflow: hidden;
  display: block;
}
.p-interview__link {
  overflow: hidden;
  display: block;
}
.p-interview__link:hover .p-interview__img {
  transform: scale(1.05);
  transition: 0.3s;
  overflow: hidden;
}
.p-interview__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.p-interview__img::before {
  padding-top: 100%;
  display: block;
  content: "";
}
.p-interview__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-interview__detail {
  padding-top: rem(11);
}
.p-interview__cardTitle {
  color: $blue;
  letter-spacing: 0.06em;
  font-size: rem(13.5);
  font-weight: 700;
}
.p-interview__name-wrapper {
  @include mq(md) {
    margin-top: rem(11);
  }
}
.p-interview__name {
  color: $black;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(18);
  }
}
