@use "global" as *;

.p-information {
  position: relative;
}
.p-information::before {
  position: fixed;
  background: url(../images/common/recruit_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: rem(400);
}
.p-information__content {
  margin-top: rem(32);
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(22.5);
    margin-top: rem(54);
    max-width: rem(922.5);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.p-information__title-wrapper {
  text-align: center;
}
.p-information__title {
  font-size: rem(36);
  color: $black;
  letter-spacing: 0.06em;
  font-weight: 700;
  position: relative;
}
.p-information__title::before {
  content: "recruit";
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
  font-size: rem(18);
  text-align: center;
  display: block;
  font-family: $second-font-family;
}
.p-information__btn-wrapper + .p-information__btn-wrapper {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-information__btn {
  display: block;
  text-align: center;
  background: #f0f3f7;
  font-weight: 700;
  color: $black;
  font-size: rem(16.5);
  transition: 0.3s;
  padding-top: rem(20);
  padding-bottom: rem(20);
  @include mq(md) {
    padding-top: rem(36);
    padding-bottom: rem(36);
  }
}
.p-information__btn:hover {
  color: $white;
  background: $blue;
  opacity: 1;
}
.p-information__img {
  width: 100%;
  position: relative;
  z-index: -1;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(48);
  }
}
.p-information__img::before {
  padding-top: 28.4895%;
  display: block;
  content: "";
}
.p-information__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
