@use "global" as *;

.p-life {
  padding-top: rem(64);
  position: relative;
  @include mq(md) {
    padding-top: rem(213);
  }
}
.p-life::before {
  position: absolute;
  content: "";
  background: #f0f3f7;
  width: (1680 / 1920) * 100vw;
  height: rem(376);
  top: 41%;
  left: 0;
  z-index: -1;
}
.p-life__title {
  text-align: center;
}
.p-life__contents {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(128);
  }
}
.p-life__content {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.p-life__img {
  max-width: rem(900);
  width: 100%;
  position: relative;
}
.p-life__img::before {
  padding-top: 72.2%;
  display: block;
  content: "";
}
.p-life__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-life__detail {
  margin-top: rem(24);
  width: 100%;
  @include mq(md) {
    max-width: rem(450);
    margin-top: rem(32);
    margin-right: rem(75);
  }
}
.p-life__content:nth-child(2n) > .p-life__detail {
  margin-right: initial;
  margin-left: rem(75);
}
.p-life__text {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
    width: rem(266);
  }
}
.p-life__under {
  max-width: rem(922);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-top: rem(56);
  }
}
.p-life__row {
  @include mq(md) {
    display: flex;
    align-items: flex-start;
    margin-top: rem(16);
  }
}
.p-life__sub {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    margin-left: rem(22);
    width: rem(199);
  }
}
