@use "global" as *;

.p-message {
  padding-top: rem(37.5);
  padding-bottom: rem(32);
  position: relative;
  background: $white;

  @include mq(md) {
    padding-bottom: rem(148);
  }
}
.p-message::before {
  content: attr(data-company) "";
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  color: $skyBlue;
  top: 0;
  right: 0;
  z-index: 2;
  font-family: $second-font-family;
  font-size: rem(48);
  @include mq(md) {
    font-size: rem(138);
  }
}
.p-message__content {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.p-message__title-wrapper {
  text-align: right;
  margin-left: rem(-88);
  white-space: nowrap;
  @include mq(md) {
    margin-top: rem(114);
    z-index: 2;
  }
}
.p-message__text-wrapper {
  margin-top: rem(38);
  max-width: rem(675);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-message__text {
  color: $black;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: rem(12);
}
.p-message__img {
  width: 100%;
  position: relative;
  margin-top: rem(32);
  @include mq(md) {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    z-index: 1;
    margin-top: initial;
  }
}
.p-message__img::before {
  padding-top: 63.45%;
  display: block;
  content: "";
}
.p-message__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-message__jp {
  margin-top: rem(8);
  text-align: right;
  @include mq(md) {
    margin-top: rem(27);
  }
}
.p-message__subTitle {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: rem(24);
  }
}
.p-message__subText-wrapper {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: rem(24);
  }
}
.p-message__subText {
  font-size: rem(18);
  color: $black;
  letter-spacing: 0.08em;
  @include mq(md) {
    font-size: rem(22);
  }
}
.p-message__btn {
  text-align: left;
  margin-top: rem(24);
  display: flex;
  justify-content: end;
  @include mq(md) {
    margin-top: rem(50.25);
  }
}
.p-message__hover:hover .c-btn::before {
  width: 37.5px;
  height: 37.5px;
  background: url(../images/common/btn_box_reverse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $blue;
  z-index: 3;
}
.p-message__hover:hover .c-btn::after {
  background: url(../images/common/btn_arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 97px;
  height: 6px;
  left: 9px;
}
