@use "global" as *;

.p-mecha {
  padding-top: rem(64);
  padding-bottom: rem(64);

  position: relative;
  @include mq(md) {
    padding-top: rem(180);
    padding-bottom: rem(120);
  }
}
.p-mecha::before {
  position: absolute;
  content: "";
  background: #f0f3f7;
  width: 80%;
  height: rem(386);
  top: 35%;
  left: 0;
  z-index: -1;
}
.p-mecha__title {
  text-align: center;
}
.p-mecha__contents {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(128);
  }
}
.p-mecha__content {
  @include mq(md) {
    display: flex;
  }
}
.p-mecha__content:nth-child(2n) {
  margin-top: rem(70);
  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.p-mecha__img {
  max-width: rem(900);
  width: 100%;
  position: relative;
}
.p-mecha__img::before {
  padding-top: 72.2%;
  display: block;
  content: "";
}
.p-mecha__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-mecha__detail {
  margin-top: rem(24);
  width: 100%;
  @include mq(md) {
    max-width: rem(450);
    margin-top: rem(32);
    margin-left: rem(75);
  }
}
.p-mecha__content:nth-child(2n) > .p-mecha__detail {
  margin-right: initial;
  margin-left: rem(75);
}
.p-mecha__text {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-mecha__under {
  @include mq(md) {
    margin-top: rem(56);
  }
}
.p-mecha__sub {
  margin-top: rem(16);
  display: flex;
  align-items: center;
}
.p-mecha__row {
  margin-top: rem(16);
}
.p-mecha__small + .p-mecha__small {
  margin-left: rem(12);
}
.p-mecha__small-text {
  margin-top: rem(2);
}
