@use "global" as *;

.p-plastic {
  padding-top: rem(32);
  padding-bottom: rem(120);
  background: url(../images/common/plastic_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include mq(md) {
    padding-top: rem(250);
    padding-bottom: rem(432);
  }
}
.p-plastic::before {
  content: "";
  position: absolute;
  height: rem(440);
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: url(../images/common/plastic_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.p-plastic__content {
  background: $white;
  position: relative;
  padding-top: rem(32);
  padding-bottom: rem(24);
  padding-left: rem(16);
  padding-right: rem(16);
  border: 8px solid #f0f3f7;
  @include mq(md) {
    border: 20px solid #f0f3f7;
    padding-top: rem(110);
    padding-bottom: rem(92);
    padding-left: initial;
    padding-right: initial;
  }
}
.p-plastic__content::before {
  content: "column";
  position: absolute;
  left: rem(36);
  font-size: rem(56);
  font-family: $second-font-family;
  font-weight: 700;
  color: #f0f3f7;
  text-transform: uppercase;
  line-height: 0.5;
  top: 0;
  @include mq(md) {
    font-size: rem(184);
  }
}
.p-plastic__title-wrapper {
  text-align: center;
}
.p-plastic__title {
  font-weight: 700;
  color: $blue;
  position: relative;
  z-index: 1;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(36);
  }
}
.p-plastic__img {
  max-width: rem(800);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(86);
  }
}
.p-plastic__img::before {
  padding-top: 89.875%;
  display: block;
  content: "";
}
.p-plastic__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-plastic__text-wrapper {
  max-width: rem(706);
  width: 100%;
  margin-top: rem(52);
  margin-left: auto;
  margin-right: auto;
}
.p-plastic__text {
  color: $black;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}
