@use "global" as *;

.p-pioneer {
  position: relative;
  overflow: hidden;
  background: $white;
  padding-top: rem(48);
  @include mq(md) {
    padding-top: initial;
  }
}
.p-pioneer::before {
  content: attr(data-company) "";
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  color: $skyBlue;
  top: 0;
  z-index: 1;
  font-size: rem(48);
  font-family: $second-font-family;
  right: 0;
  @include mq(md) {
    font-size: rem(138);
    z-index: 0;
  }
}
.p-pioneer__content {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.p-pioneer__jp {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.p-pioneer__title-wrapper {
  width: 100%;
  white-space: nowrap;
  @include mq(md) {
    max-width: rem(428);
    margin-top: rem(120);
    /* margin-left: rem(70.5); */
  }
}
.p-pioneer__title {
  text-align: right;
}
.p-pioneer__jp {
  max-width: rem(417);
  width: 100%;
}
.p-pioneer__subTitle {
  margin-top: rem(12);
  text-align: right;
  @include mq(md) {
    text-align: left;
    margin-top: rem(24);
  }
}
.p-pioneer__subTitle--next {
  @include mq(md) {
    text-align: right;
  }
}
.p-pioneer__smallTitle {
  margin-top: rem(8);
  text-align: right;
  @include mq(md) {
    margin-top: rem(16);
  }
}
.p-pioneer__img1 {
  position: relative;
  width: 100%;
  @include mq(md) {
    margin-left: calc(50% - 50vw);
  }
}
.p-pioneer__img1::before {
  padding-top: 62.571%;
  display: block;
  content: "";
}
.p-pioneer__img1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-pioneer__small {
  margin-top: auto;
  position: relative;
  @include mq(md) {
    margin-right: calc(50% - 50vw);
    width: 44vw;
  }
}
.p-pioneer__small::before {
  padding-top: 48.6692%;
  display: block;
  content: "";
}
.p-pioneer__small img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-pioneer__btn {
  margin-top: rem(24);
  margin-left: auto;
  margin-bottom: rem(24);
  @include mq(md) {
    margin-top: rem(48.75);
    margin-bottom: initial;
  }
}
.p-pioneer__hover:hover .c-btn::before {
  width: 37.5px;
  height: 37.5px;
  background: url(../images/common/btn_box_reverse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $blue;
  z-index: 3;
}
.p-pioneer__hover:hover .c-btn::after {
  background: url(../images/common/btn_arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 97px;
  height: 6px;
  left: 9px;
}
