@use "global" as *;

.p-solution {
  background: #f0f3f7;
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(166);
    padding-bottom: rem(188);
  }
}
.p-solution__content {
}
.p-solution__title-wrapper {
  text-align: center;
}
.p-solution__title {
  font-weight: 700;
  color: $black;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(36);
  }
}
.p-solution__img {
  max-width: rem(879);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(109);
  }
}
.p-solution__img::before {
  padding-top: 67.918%;
  display: block;
  content: "";
}
.p-solution__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-solution__text-wrapper {
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(78);
  }
}
.p-solution__text {
  color: $black;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}
