@use "global" as *;

.p-single {
  position: relative;
}
.p-single__title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.p-single__img {
  width: 100%;
  position: relative;
  height: 70vh;
}
.p-single__img::before {
  padding-top: 45.3125%;
  display: block;
  content: "";
}
.p-single__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-single__content {
  position: relative;
}
.p-single__subTitle-wrapper {
  position: absolute;
  left: calc(160 / 1920) * 100vw;
  z-index: 3;
  top: 9%;
  @include mq(md) {
    top: 12%;
  }
}
.p-single__subTitle {
  color: #76778d;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: rem(11);
  @include mq(md) {
    font-size: rem(22.5);
  }
}
.p-single__sub {
  color: $black;
  font-weight: 700;
  letter-spacing: 0.06em;
  position: relative;
  z-index: 3;
  font-size: rem(16);
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(-116);
    font-size: rem(48);
  }
}
.p-single__occupation-wrapper {
  margin-top: rem(8);
}
.p-single__occupation {
  font-weight: 700;
  color: $blue;
  letter-spacing: 0.06em;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(16.5);
  }
}
