@use "global" as *;

.p-tomorrow {
  position: relative;
  padding-top: rem(137.25);
  padding-bottom: rem(32);
  background: $white;
  @include mq(md) {
    padding-bottom: rem(80);
  }
}
.p-tomorrow__lists {
  @include mq(md) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.p-tomorrow__list + .p-tomorrow__list {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-tomorrow__list--left {
  @include mq(md) {
    width: 23.9%;
  }
}
.p-tomorrow__list--center {
  @include mq(md) {
    width: 41.97%;
    margin-left: auto;
  }
}
.p-tomorrow__list--right {
  @include mq(md) {
    width: 22.395%;
    margin-left: auto;
  }
}
.p-tomorrow__img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include mq(md) {
    width: 100%;
  }
}
.p-tomorrow__img::before {
  padding-top: 33.25%;
  display: block;
  content: "";
}
.p-tomorrow__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-tomorrow__right {
  max-width: rem(322.5);
  width: 100%;
  position: relative;
  margin-left: auto;
}
.p-tomorrow__right::before {
  padding-top: 140.232%;
  display: block;
  content: "";
}
.p-tomorrow__right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-tomorrow__left {
  max-width: rem(344.25);
  width: 100%;
  position: relative;
}
.p-tomorrow__left::before {
  padding-top: 125.27%;
  display: block;
  content: "";
}
.p-tomorrow__left img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
