@use "global" as *;

.p-top-number {
}
.p-top-number__content {
  height: rem(250);
  background: url(../images/common/number_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: rem(40);
  padding-left: rem(60);
  @include mq(md) {
    max-width: rem(1800);
    width: 100%;
    height: rem(530);
    padding-top: rem(60);
    padding-left: rem(100);
  }
}
.p-top-number__title {
  font-weight: 700;
  color: $black;
  letter-spacing: 0.06em;
  position: relative;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(36);
  }
}
.p-top-number__title::before {
  content: "company";
  display: block;
  text-align: left;
  font-weight: 700;
  font-family: $second-font-family;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: rem(18);
}
