@use "global" as *;

.p-wide {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(150);
    padding-bottom: rem(234.75);
  }
}
.p-wide::before {
  content: "";
  position: absolute;
  background: url(../images/common/wide_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: rem(200);
  top: 35%;
  left: 0;
  right: 0;
  @include mq(md) {
    height: rem(744);
    top: rem(580);
  }
}
.p-wide__content {
}
.p-wide__title-wrapper {
  text-align: center;
}
.p-wide__text-wrapper {
  text-align: center;
  margin-top: rem(38);
  position: relative;
}
.p-wide__text-wrapper::before {
  position: absolute;
  content: "";
  background: url(../images/common/scroll_center.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(20);
  height: rem(95);
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  @include mq(md) {
    bottom: -400%;
    width: rem(40);
    height: rem(191.5);
  }
}
.p-wide__img {
  max-width: rem(1173);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(155);
  }
}
.p-wide__img::before {
  padding-top: 100%;
  display: block;
  content: "";
}
.p-wide__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-wide__subText-wrapper {
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-top: rem(-120);
  }
}
.p-wide__subText {
  font-weight: 400;
  color: $black;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-wide__btns {
  position: relative;
}
.p-wide__btn-wrapper--mecha {
  position: absolute;
  z-index: 10;
  top: 10%;
  right: 5%;
  @include mq(md) {
    top: 22%;
    right: 22%;
  }
}
.p-wide__btn-wrapper--optics {
  position: absolute;
  top: 50%;
  right: -4%;
  z-index: 10;
  @include mq(md) {
    right: 10%;
  }
}
.p-wide__btn-wrapper--conductor {
  position: absolute;
  z-index: 10;
  right: 5%;
  bottom: 15%;
  @include mq(md) {
    bottom: 21%;
    right: 29%;
  }
}
.p-wide__btn-wrapper--bio {
  position: absolute;
  bottom: 21%;
  z-index: 10;
  left: 0;
  @include mq(md) {
    left: 29%;
  }
}
.p-wide__btn {
  display: inline-block;
  background: $white;
  border: 2px solid $blue;
  color: $blue;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding-top: rem(4);
  padding-bottom: rem(4);
  text-align: center;
  position: relative;
  width: rem(110);
  font-size: rem(14);
  @include mq(md) {
    width: rem(135);
    font-size: rem(16.5);
  }
}
.p-wide__btn::before {
  content: "";
  position: absolute;
  background: url(../images/common/wide_icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(7.46);
  height: rem(3.75);
  top: 50%;
  transform: translateY(-50%);
  right: rem(6);
}
