@use "global" as *;

.p-year2 {
  position: relative;
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(40);
  }
}
.p-year2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 33%;
  background: #f0f3f7;
  top: 40%;
}
.p-year2__content {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.p-year2__content::after {
  content: "1980s";
  position: absolute;
  font-family: $second-font-family;
  font-weight: 700;
  color: #f0f3f7;
  left: 0;
  top: rem(-100);
  z-index: -1;
  font-size: rem(72);
  @include mq(md) {
    left: initial;
    right: 0;
    font-size: rem(202.5);
  }
}
.p-year2__detail {
  max-width: rem(319.5);
  width: 100%;
  margin-top: rem(36);
  position: relative;
  z-index: 1;
  @include mq(md) {
    margin-left: rem(53.25);
  }
}
.p-year2__title {
  white-space: nowrap;
}
.p-year2__text {
  max-width: rem(254.25);
  width: 100%;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(22.5);
  }
}
.p-year2__img {
  max-width: rem(549.75);
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-year2__img::before {
  padding-top: 83.765%;
  display: block;
  content: "";
}
.p-year2__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
