@use "global" as *;

.p-year {
  padding-bottom: rem(40);
  position: relative;
}
.p-year::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f0f3f7;
  top: 5%;
}
.p-year__content {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include mq(md) {
    display: flex;
  }
}
.p-year__content::after {
  content: "1970s";
  position: absolute;
  font-family: $second-font-family;
  font-weight: 700;
  color: #f0f3f7;
  left: 0;
  z-index: -1;
  font-size: rem(72);
  top: -24%;
  @include mq(md) {
    top: -54%;
    font-size: rem(202.5);
  }
}
.p-year__detail {
  max-width: rem(348.75);
  width: 100%;
  margin-top: rem(36);
  position: relative;
  z-index: 1;
}
.p-year__title {
  white-space: nowrap;
}
.p-year__title + .p-year__title {
  margin-top: rem(54);
}
.p-year__text {
  margin-top: rem(22.5);
  max-width: rem(254.25);
  width: 100%;
}
.p-year__img--1970 {
  max-width: rem(638.25);
  width: 100%;
  position: relative;
  z-index: 0;
  @include mq(md) {
    margin-left: rem(-60);
  }
}
.p-year__img--1970::before {
  padding-top: 58.871%;
  display: block;
  content: "";
}
.p-year__img--1970 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
