@use "global" as *;

.p-year25 {
  position: relative;
  margin-top: rem(-64);
}
.p-year25::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #f0f3f7;
  top: 1%;
  height: 75%;
  z-index: -1;
  @include mq(md){
    top: -5%;
    height: 78%;

  }
}
.p-year25__content {
  max-width: rem(940.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.p-year25__detail {
  max-width: rem(319.5);
  width: 100%;
  margin-top: rem(36);
  position: relative;
  z-index: 1;
  @include mq(md) {
    max-width: rem(330);
    margin-left: rem(24);
  }
}
.p-year25__title {
  white-space: nowrap;
}
.p-year25__text {
  max-width: rem(254.25);
  width: 100%;
  margin-top: rem(12);
  @include mq(md) {
    max-width: initial;
    margin-top: rem(22.5);
  }
}
.p-year25__img {
  max-width: rem(500.75);
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
  }
}
