@use "global" as *;

.p-year5 {
  padding-top: rem(64);
  padding-bottom: rem(40);
  position: relative;
  @include mq(md) {
    padding-top: rem(157);
  }
}
.p-year5::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 23%;
  height: 72%;
  background: #f0f3f7;
  @include mq(md){
    top: 34%;
    height: 49%;
  }
}
.p-year5__content {
  max-width: rem(922.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}
.p-year5__content::after {
  content: "2010s";
  position: absolute;
  font-family: $second-font-family;
  font-weight: 700;
  color: #f0f3f7;
  left: 0;
  z-index: -1;
  font-size: rem(72);
  top: rem(-100);
  @include mq(md) {
    top: -63%;
    font-size: rem(202.5);
  }
}
.p-year5__detail {
  max-width: rem(254.25);
  width: 100%;
  margin-top: rem(36);
  position: relative;
  z-index: 1;
}
.p-year5__title {
  white-space: nowrap;
}
.p-year5__title + .p-year5__title {
  margin-top: rem(54);
}
.p-year5__text {
  max-width: rem(254.25);
  width: 100%;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(22.5);
  }
}
.p-year5__img {
  max-width: rem(504.75);
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    margin-left: rem(162);
  }
}

